
// Make viewport great again (responsive)
// http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@at-root {

  @-ms-viewport { // stylelint-disable-line  at-rule-no-vendor-prefix
    width: device-width;
  }
}

.page { // html

  $block-name:                &; // #{$block-name}__element

  box-sizing: border-box;
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%; // stylelint-disable-line  property-no-vendor-prefix
  min-width: 320px;
  min-height: 100%;

  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex-grow: 1;
  }

  &__footer-wrapper {
    flex-shrink: 0;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  margin: 0;
  min-height: 100%;
}

[tabindex='-1']:focus {
  outline: none !important; // stylelint-disable-line  declaration-no-important
}

// iOS 'clickable elements' fix for role='button'
[role='button'] {
  cursor: pointer;
}

// We love Safari
input[type='search'] {
  -webkit-appearance: textfield; // stylelint-disable-line  property-no-vendor-prefix
}

// Avoid 300ms click delay on touch devices that support the `touch-action` CSS property.
a,
// area,
button,
[role='button'],
input,
label,
select,
// summary,
textarea {
  touch-action: manipulation;
}

// We love EDGE! This is a browser!
svg {

  a &,
  button & {
    pointer-events: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}


.container {
  display: grid;
  grid-template-columns:
    [left-sedebar-start] 1fr // 20%
    [left-sedebar-end main-content-start] 4fr // 60%
    [main-content-end right-sidebar-start] 1fr // 20%
    [right-sidebar-end];

  grid-template-rows:
    [body-start] 6fr // 80%
    [body-end footer-start] 2fr // 20%
    [footer-end];
  grid-gap: 15px;

  height: 80vh;
}

.container > * {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 30px;
  line-height: 1;
  text-align: center;

  background-color: palegoldenrod;
}

.footer {
  grid-column: main-content-start / span 2; // span across 2 col
  grid-column: main-content-start / -1; // equal to top
  grid-column: main-content-start / right-sidebar-end; // equal to top
}

.left-sidebar {
  grid-row: body-start / span 2; // span across 2 rows
  grid-row: body-start / -1; // equa to top
  grid-row: body-start / footer-end; // equa to top
}